// Descriptive Base Colors
$white    		: #fff;
$black    		: #0b0b0b;
$grey     		: #797e83;
$gray-base      : #000;

$fountain-blue  : #52bab3;
$emerald        : #5ece7f;
$sunglo         : #e67478;
$coral          : #ff784f;
$purple-majesty : #9279c3;
$scooter        : #39add1;