.snav {
	padding-top: em(8px);
	padding-bottom: em(8px);
	background-color: palette(primary, dark);
	color: palette(primary, xx-light);
}

.header-container {
	padding-top: em(30px);
	padding-bottom: em(10px);
	background-color: palette(primary, x-dark);
	color: palette(primary, xx-light);
	min-height: em(100px);
}

//#4A4A51