
$top-h-bg: #F23534;
$horizontal-bar-mode: $max-tablet;

#top-h {
  background: $top-h-bg;


  #top-h-container {
    @include outer-container;

    #top-h-l {
      @include span-columns(6);
    }
    #top-h-r {
      //Mobile View
      @include media(min-width $min-phone max-width $max-phone, 12) {
        display: none;
      }
      @include span-columns(6);
      text-align: right;
    }
  }
  ul {
    padding: 5px 15px;
  }

  li {
    display: inline-block;
    a {
      text-decoration: none;
      color: transparentize(white, 0.1);
      font-size: 12px;
      padding-right: 10px;

      &:focus,
      &:hover {
        color: white;
      }
    }
  }


  // #top-h-container {
  //   @include span-columns(12);
  //   @include outer-container;
  //   ul {
      
  //     border: 1px solid blue;
  //     text-align: right;
  //       li {
  //       display: inline-block;
  //       a {
  //         text-decoration: none;
  //         padding: 5px 10px;
  //         color: transparentize(white, 0.1);
  //         font-size: 12px;
  //         &:focus,
  //         &:hover {
  //           color: white;
  //         }
  //       }
  //     }
  //   }
  // }

}

#mid-h {
    @include outer-container;
    padding: 10px 20px;
    #sitename {
      a {
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        color: transparentize(black, 0.2);
      }
    }
    #desc {
         color: transparentize(black, 0.4);
        font-size: 12px;
    }
    
    @include media ( $horizontal-bar-mode ) {
        #sitename, #desc {
            display: inline-block;
            margin-right: 40px;
        }
    }
}




//Navigation
$dark-blue: #0B5EAD !default;
$large-screen: em(860) !default;

$navigation-height: 60px;
$navigation-padding: 1em;

$navigation-background: $dark-blue;
$navigation-color: transparentize(white, 0.3);
$navigation-color-hover: white;




div.navigation {
  background-color: $navigation-background;
  border-bottom: 1px solid darken($navigation-background, 10);
  min-height: $navigation-height;
  width: 100%;
  z-index: 999;

  .navigation-wrapper {
    @include clearfix;
    @include outer-container;
    position: relative;
    z-index: 9999;
  }

    .logo {
        float: left;
        padding-left: $navigation-padding;
        padding-right: 2em;
        color: $navigation-color;
        font-size: 24px;

        #home-icon {
            line-height: $navigation-height;
        }
    }

  // Mobile view

  .navigation-menu-button {
    color: $navigation-color;
    display: block;
    float: right;
    font-weight: 700;
    line-height: $navigation-height;
    margin: 0;
    padding-right: 1em;
    text-transform: uppercase;

    @include media ($horizontal-bar-mode) {
      display: none;
    }

    &:focus,
    &:hover {
      color: $navigation-color-hover;
    }
  }

  // Nav menu

  nav {
    float: none;
    min-height: $navigation-height;
    z-index: 9999999;

    @include media ($horizontal-bar-mode) {
      float: left;
    }
  }

  ul.navigation-menu {
    -webkit-transform-style: preserve-3d; // stop webkit flicker
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999;

    &.show {
      display: block;
    }

    @include media ($horizontal-bar-mode) {
      display: inline;
      margin: 0;
      padding: 0;
    }
  }

  // The nav items

  ul li.nav-link {
    background: $navigation-background;
    display: block;
    line-height: $navigation-height;
    overflow: hidden;
    padding-right: 0.8em;
    text-align: right;
    width: 100%;
    z-index: 9999;

    @include media ($horizontal-bar-mode) {
      background: transparent;
      display: inline;
      line-height: $navigation-height;
      text-decoration: none;
      width: auto;
    }

    a {
      color: $navigation-color;
      display: inline-block;
      font-weight: 400;
      text-decoration: none;

      @include media ($horizontal-bar-mode) {
        padding-right: 1em;
      }

      &:focus,
      &:hover {
        color: $navigation-color-hover;
      }
    }
  }  
}


